<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
        float: left;
      }
      
      li a {
        display: block;
        background-color: #333;
        color: #999;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
      li b{
        display: block;
        background-color: rgb(14, 170, 227);
        color: rgb(8, 50, 105);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
</style>
<ul>
  <li><b>😂I WANT TO KMS😂</b></li>
  <li><a href="/book">Book</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/profile">Profile</a></li>
</ul>

