<div class="container">
  <div class="number">Blog item # {{blogs?.id}}</div>
  <div class="details">Title: {{blogs?.title}}</div>
  <div class="details">Description: {{blogs?.description}}</div>
  <div class="details">Author: {{blogs?.author}}</div>
  <br>
  <div class="details">Comment/s:</div>  
  <div class="details" *ngFor="let comment of blogs?.comments">
      <mat-icon> comment</mat-icon> {{comment}}
  </div>
  <button class="btn" (click)="edit()">Edit</button>
  <button class="btn" (click)="delete()">Delete</button>
</div> 

