<div class="profile-form">
    <div class="form-email">
        <label for="email" class="form-email">Email</label>
        <input type="text" placeholder="Email" class="form-control" name="email">
    </div>
    <br>
    <div class="form-name">
        <label for="name" class="form-name">Name</label>
        <input type="text" placeholder="Name" class="form-control" name="name">
    </div>
    <br>
    <div class="form-bio">
        <label for="bio" class="form-bio">Bio</label>
        <input type="text" placeholder="Bio" class="form-control" name="bio">
    </div>
    <br>
    <div class="form-select">
        <label for="active" class="form-select">Active</label>
        <select class="form-active" name="active" id="active">
            <option value="option-1" id="active-0">True</option>
            <option value="option-2" id="active-1">False</option>
        </select>
    </div>
</div>
